nav{
	background:rgba(160, 206, 78, 0.8) none repeat scroll 0 0;
}
nav:hover,.colored-button, .circle-user i,.owl-theme .owl-controls .owl-nav div,.owl-dots .owl-dot.active, .owl-dots .owl-dot:hover,.pricing_active,.accordion .title a:hover, .accordion .title a[aria-expanded="true"],.scrollup,.cd-stretchy-nav.add-content .cd-nav-trigger,.cd-stretchy-nav.add-content .stretchy-nav-bg,.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover,#btry-loader .btry .btry-charge,#btry-loader .btry:after,.modal-header,.form-material .form-control:focus ~ .form-bar:before,.form-material .form-control:focus ~ .form-bar:after,.sidebar-blog .fa-reply,.sidebar-login-top{
	background:#a0ce4e !important;
}
.sidebar-login-top:before{
    border-color: #a0ce4e #fff #fff;
}
.sidebar-search .form-material .form-control:focus ~ .form-bar:before,.sidebar-search .form-material .form-control:focus ~ .form-bar:after{
     background:#fff !important;
}
.owl-dots .owl-dot.active, .owl-dots .owl-dot:hover,.circle-user{
	border-color:#a0ce4e;
}
.form-material .form-control,.sidebar-blog{
	border-bottom:1px solid #a0ce4e;
}
.scrollup:hover,#btn-close-modal{
	border:1px solid #a0ce4e;
	background:#fff !important;	
}
.accordion .title a:hover i, .accordion .title a[aria-expanded="true"] i{
	color:#fff !important;
}
.team-position p,#key-feature h3,.icon-color,.marked-list li.active:before,.form-material label ,.form-material .form-control:focus ~ label,.marked-list li:before,.accordion .title a:hover i, .accordion .title a[aria-expanded="true"] i{
    color: #a0ce4e !important;
}
.owl-dots .owl-dot+.owl-dot, .owl-dots .owl-dot{
	border-color:#a0ce4e;
}
#btry-loader .btry{
	border:1px solid #a0ce4e;
}
.testimonials blockquote,.modal-heading{
    border-left: 5px solid #a0ce4e;
}

